<button mat-button routerLink="/shop">Back To the Shop</button>

<div *ngIf="totalPrice > 0">
<form>
 <input autocomplete="off" type="search" name="searchValue" placeholder="Search"
        [(ngModel)]="searchValue">
</form>



<div name="searchText" *ngIf="!isLoading">
  <div class="row" *ngFor="let cartProduct of currentCartProducts">
    <div>Products in Cart: {{totalCartProductsQuantity}}</div>
    <div class="col-md-5 to-left cartItem">
      <img class="cart-item-img" [src]="productsForCart[cartProduct._id].imageURL" alt="...">
    </div>
    <ul class="col-md-7 to-center">
      <li>
        <span>{{ cartProduct.quantity }} X </span>
        <span ngxTextHighlight
              [content]="productsForCart[cartProduct._id].name"
              [searchTerm]="searchValue"
              [caseSensitive]="false"></span>
        <div>{{ productsForCart[cartProduct._id].price * cartProduct.quantity | currency: 'USD'}}</div>
      </li>
    </ul>
  </div>
  <div>
    <p>Total: <span>{{ totalPrice | currency: 'USD' }}</span></p>
  </div>
</div>

<form [formGroup]="orderForm"  (ngSubmit)="onOrderSubmit()" >
  <h4>CHECKOUT</h4>

  <mat-form-field appearance="outline" class="justifier">
    <mat-label>Street</mat-label>
    <input matInput
           formControlName="street"
           id="street"
           type="text"
           (dblclick)="setUserAddress()"
    >
    <mat-error *ngIf="orderForm.get('street').errors?.serverError">
      {{ orderForm.get('street').errors?.serverError}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="City" formControlName="city">
      <mat-option *ngFor="let city of cities" [value]="city.value">
        {{city.viewValue}}
      </mat-option>
    </mat-select>

    <mat-error *ngIf="orderForm.get('city').errors?.serverError">
      {{ orderForm.get('city').errors?.serverError}}
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline" class="justifier">
    <mat-label>Shipping Date</mat-label>
    <input matInput readonly [matDatepicker]="deliveryDate" placeholder="Select a delivery date"
           formControlName="deliveryDate" [min]="minDate">
    <mat-datepicker-toggle matSuffix [for]="deliveryDate"></mat-datepicker-toggle>
    <mat-datepicker #deliveryDate touchUi [dateClass]="dateClass" ></mat-datepicker>

    <mat-error *ngIf="orderForm.get('deliveryDate').errors?.serverError">
      {{ orderForm.get('deliveryDate').errors?.serverError}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="justifier">
    <mat-label>Credit Card</mat-label>
    <input matInput
           formControlName="creditCard"
           id="creditCard"
           type="number"
    >
    <mat-error *ngIf="orderForm.get('creditCard').errors?.serverError">
      {{ orderForm.get('creditCard').errors?.serverError}}
    </mat-error>
  </mat-form-field>

  <button mat-button type="submit">Submit order</button>
</form>


</div>
