<!--
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <div class="home-header">
                <div class="home-components">
                  <h3 class="login-heading mb-4">Welcome!</h3>
                <h1>Our Grocery Shop</h1>
                <button mat-button *ngIf="authService.isLoggedUser()" routerLink="shop">Continue Shopping</button>
                <h1>num of products in the shop:<div [countUp]=numOfProducts></div></h1><br/>
                <h1>num of orders in the shop: <div [countUp]=numOfOrders></div></h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->


<head>

  <!-- Basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

  <!-- Site Metas -->
  <title>Groceries Shop</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Site Icons -->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

  <!-- Bootstrap CSS -->
  <!--<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">-->
  <!-- Site CSS -->
  <link rel="stylesheet" href="../../../assets/css/style.css">
  <!-- Responsive CSS -->
  <link rel="stylesheet" href="../../../assets/css/responsive.css">
  <!-- color -->
  <link id="changeable-colors" rel="stylesheet" href="../../../assets/css/colors/orange.css"/>

  <!-- Modernizer -->
  <script src="js/modernizer.js"></script>

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>


<div id="site-header">
  <header id="header" class="header-block-top">
    <div class="container">
      <div class="row">
        <div class="main-menu">

          <!-- end navbar -->
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container-fluid -->
  </header>
  <!-- end header -->
</div>
<!-- end site-header -->

<div id="banner" class="banner full-screen-mode parallax">
  <div class="container pr">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div class="banner-text">
          <div class="banner-cell">
          <h1>Welcome to Our Shop</h1>
          <div>
            <div>
              <h2 style="float:right; color: black">Num Of Products In The Shop:
                <div [countUp]=numOfProducts></div>
                <div class="num-of-products"></div>
              </h2>
            </div>
            <h2 class="num-of-orders" style="float:left; color: black">Num Of Orders In The Shop:
              <div [countUp]=numOfOrders></div>
            </h2>
          </div>
          <div class="book-btn">

            <a *ngIf="authService.isLoggedUser()" routerLink="shop" class="table-btn hvr-underline-from-center">Continue
              Shopping</a>
          </div>


        </div>
        <!-- end banner-cell -->
      </div>
      <!-- end banner-text -->

      <!-- end banner-static -->
    </div>
    <!-- end col -->
  </div>
  <!-- end container -->
</div>
<!-- end banner -->











