body {
  font-family: 'Chewy', cursive;
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

.icon{
  width:120px;
  margin-left: 48px;
}

.test{
  content: "\0025";
  background-color: black;
}

