
<body>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <div style="text-align: center;"><img style="width: 120px;margin-left: auto" src="https://image.flaticon.com/icons/svg/1484/1484799.svg"></div>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form class="example-form" (ngSubmit)="onFirstStepSubmit()" [formGroup]="firstFormGroup">
      <ng-template matStepLabel>First Step</ng-template>
      <mat-form-field class="example-full-width">
      <input matInput placeholder="Identity Number 9 Digits" formControlName="identityNumber" min=0 type="number"
      (keydown)="allowNumberOnly($event)"
             (paste)="preventPaste($event)">
          <mat-error *ngIf="firstFormGroup.get('identityNumber').errors?.serverError">
            {{ firstFormGroup.get('identityNumber').errors?.serverError}}
          </mat-error>
      </mat-form-field>
      <div>
        <mat-form-field class="example-full-width">
        <input matInput placeholder="em@il" formControlName="email">
          <mat-error *ngIf="firstFormGroup.get('email').errors?.serverError">
            {{ firstFormGroup.get('email').errors?.serverError}}
          </mat-error>
      </mat-form-field>
        </div>
      <div>
        <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="firstFormGroup.get('password').errors?.serverError">
            {{ firstFormGroup.get('password').errors?.serverError}}
          </mat-error>
      </mat-form-field>
        </div>
      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Confirm Password" formControlName="password2">
        <mat-error *ngIf="firstFormGroup.get('password2').errors?.serverError">
          {{ firstFormGroup.get('password2').errors?.serverError}}
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button color="primary" (click)=goForward(stepper) type="submit">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form (ngSubmit)="onSecondStepSubmit()" [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Last Step</ng-template>
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName">
        <mat-error *ngIf="secondFormGroup.get('firstName').errors?.serverError">
          {{ secondFormGroup.get('firstName').errors?.serverError}}
        </mat-error>
        <mat-error *ngIf="secondFormGroup.controls['firstName'].errors?.pattern">
          Please insert characters only
        </mat-error>
      </mat-form-field>
      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Last Name" formControlName="lastName">
          <mat-error *ngIf="secondFormGroup.get('lastName').errors?.serverError">
            {{ secondFormGroup.get('lastName').errors?.serverError}}
          </mat-error>
          <mat-error *ngIf="secondFormGroup.controls['lastName'].errors?.pattern">
            Please insert characters only
          </mat-error>
        </mat-form-field>
      </div>
<div>
  <mat-form-field class="example-full-width">
    <mat-select placeholder="City" formControlName="city">
      <mat-option *ngFor="let city of city" [value]="city.value">
        {{city.viewValue}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="secondFormGroup.get('city').errors?.serverError">
      {{ secondFormGroup.get('city').errors?.serverError}}
    </mat-error>
  </mat-form-field>
</div>
      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Street" formControlName="street" >
          <mat-error *ngIf="secondFormGroup.get('street').errors?.serverError">
            {{ secondFormGroup.get('street').errors?.serverError}}
          </mat-error>
          </mat-form-field>
      </div>
      <div>
        <button color="primary" mat-button matStepperPrevious>Back</button>
        <button color="primary" mat-button matStepperNext>Submit</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
    </mat-card>
</div>
</body>
